
import com.google.gson.Gson;
import com.google.gson.reflect.TypeToken;
import com.ski.mobile.app.psm.sk_psm.base.AppBaseResult;
import com.ski.mobile.app.psm.sk_psm.entity.PageUtils;
import com.ski.mobile.app.psm.sk_psm.net.Api;
import com.ski.mobile.app.psm.sk_psm.ui.${className}Activity;
import java.util.HashMap;
import cn.droidlover.xdroidmvp.mvp.XPresent;
import cn.droidlover.xdroidmvp.net.ApiSubscriber;
import cn.droidlover.xdroidmvp.net.NetError;
import cn.droidlover.xdroidmvp.net.XApi;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}Present extends XPresent<${className}Activity> {

    public void getList(HashMap<String, Object> map) {
        AppBaseResult appBaseResult = new AppBaseResult();
        appBaseResult.setEncryptData(map);
        Api.getCpsService().getList(appBaseResult)
                .compose(XApi.<AppBaseResult>getApiTransformer())
                .compose(XApi.<AppBaseResult>getScheduler())
                .compose(getV().<AppBaseResult>bindToLifecycle())
                .subscribe(new ApiSubscriber<AppBaseResult>() {
                    @Override
                    protected void onFail(NetError error) {
                        getV().showError(error);
                    }

                    @Override
                    public void onNext(AppBaseResult result) {
                        if (result.getCode() == AppBaseResult.SUCCESS) {
                            String data = result.decryptData();
                            PageUtils<HashMap<String, Object>> pageUtils = new Gson().fromJson(data, new TypeToken<PageUtils<HashMap<String, Object>>>() {}.getType());
                            getV().showSuccess(pageUtils);
                        } else {
                            getV().showError(new NetError("请求错误！", NetError.OtherError));
                        }
                    }

                });
    }


    public void delete(HashMap<String, Object> map) {
        AppBaseResult appBaseResult = new AppBaseResult();
        appBaseResult.setEncryptData(map);
        Api.getCpsService().delete(appBaseResult)
                .compose(XApi.<AppBaseResult>getApiTransformer())
                .compose(XApi.<AppBaseResult>getScheduler())
                .compose(getV().<AppBaseResult>bindToLifecycle())
                .subscribe(new ApiSubscriber<AppBaseResult>() {
                    @Override
                    protected void onFail(NetError error) {
                        getV().showError(error);
                    }

                    @Override
                    public void onNext(AppBaseResult result) {
                        if (result.getCode() == AppBaseResult.SUCCESS) {
                            getV().showDeleteSuccess();
                        } else {
                            getV().showError(new NetError("请求错误！", NetError.OtherError));
                        }
                    }

                });
    }
}